body {
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.logo {
  margin: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.link {
  margin: 16px;
}

.main {
  display: flex;
}

.randomtitle {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-bottom: 32px;
}

.illustration {
    height: 128px;
    width: 128px;
    border-color:#1f2937;
    border-style: double;
}

.info {
    width: 128px;
}

.info .subtext {
    text-align: center;
}

.moreinfo {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.quote {
  background-color: #e5e7eb;
}

.tagline {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main div .subtext,
.link {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
}

.callaction {
  background-color: #3882f6;
}

.footer {
    text-align: center;
    padding: 16px;
}