body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top,
.footer {
  background-color: #1f2937;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav .logo {
  margin: 16px;
  font-size: 24px;
  color: #f9faf8;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
}

.link {
  margin-left: 24px;
}

.link a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .tagline {
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  color: #f9faf8;
}

.header .subtext {
  color: #e5e7eb;
}

.picture {
  background-color: gray;
  padding: 120px 300px;
  margin: 32px 0 32px 32px;
  text-align: center;
}

.signup {
  background-color: #3882f6;
  padding: 8px 32px;
  color: white;
  border-radius: 8px;
  border-style: none;
}

.moreinfo .random {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin: 32px auto;
  max-width: 1200px;
}

.moreinfo .container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 0 auto 64px auto;
}

.info{
    width: 128px;
    text-align: center;
    font-size: 12px;
}

.info .randomimage {
  display: flex;
  height: 128px;
  width: 128px;
  border-color:#3882f6;
  border-style: solid;
  border-radius: 8px;
}
/* 
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
}

.quotation {
  font-style: italic;
}

.quotation,
.attribution {
  width: 400px;
  margin: auto;
}

.attribution {
  text-align: end;
  font-weight: bolder;
}

.tagline {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.main div .subtext,
.link {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
}

.callaction {
  background-color: #3882f6;
}

.footer {
  text-align: center;
  padding: 16px;
}
 */
